@import './playlist-button/PlaylistButton.scss';

.c-playlist {
  position: fixed;
  top: 5vh;
  right: calc(-90vw + 10px);
  z-index: 4;
  width: 90vw;
  height: 90vh;
  padding: 50px;
  border: 1px solid transparentize($purple, 0.5);
  border-right: 0;
  border-radius: $border-radius 0 0 $border-radius;
  background: $indigo;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
  transition: $transition-base;
  @include media-breakpoint-up(md) {
    right: -490px;
    width: 500px;
  }

  &--visible {
    right: 0;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 60%;
      height: 1px;
      background: transparentize($white, 0.5);
      transform: translate(-50%, -50%) rotate(45deg);
      content: '';
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
