.c-playlist-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-right: 80px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid transparentize($white, 0.9);
  border-radius: $border-radius;
  color: $white;
  font-size: 14px;

  &--active {
    background: transparentize($white, 0.8);
  }

  &__img {
    width: 100%;
    max-width: 60px;
    margin-right: 10px;
    border-radius: $border-radius;
  }

  &__button {
    position: absolute;
    top: 12px;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    opacity: 0.5;
    transition: $transition-base;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 50%;
      height: 2px;
      background: $red;
      content: '';
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &--play {
      right: 40px;
      border: 2px solid $green;
      border-radius: 50%;

      &::after {
        content: none;
      }

      &::before {
        left: calc(50% + 4px);
        height: 50%;
        border-color: transparent transparent transparent $green;
        border-style: solid;
        border-width: 6px 0px 6px 6px;
        background: transparent;
        transform: translate(-50%, -50%);
      }
    }
  }
}
